<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <title>Formulaire Utilisateur</title>
</head>
<body>
    <header>
        <ul>
          <li><a href="">Session</a>
            <ul >
                <li><a href="">Nouveau</a></li>
                <li><a href="">Liste </a></li>
            </ul>
          </li>
          <li ><a href="">Utilisateur</a>
            <ul>
                <li><a href="">Nouveau</a></li>
                <li><a href="">Liste </a></li>
            </ul>
        </li>
        </ul>
    </header>
  <div class="logo">
     <img src="../public/img/sa logo.png" alt=""/>
  </div>

     <div class="container">
      <form action="">
           <div class="input-form-session-m-b">
                <label for="">Nom</label>
                <input style="margin-left: 65px;" type="text" name="email" placeholder="Nom">
           </div>

          <div class="input-form-session-m-b">
              <label for="">Prenom</label>
              <input style="margin-left: 45px;" type="Prenom" name="Prenom" placeholder="Prénom">
          </div>

          <div class="input-form-session-m-b">
               <label for="">Profil</label>
               <input style="margin-left: 60px"; type="profil" name="profil" placeholder="Profil">
          </div>

          <div class="input-form-session-m-b">
              <label for="">login</label>
              <input style="margin-left: 62px"; type="login" name="login" placeholder="exemple@exemple.com">
          </div>
          <div class="input-form-session-m-b">
            <label for="">Mot De passe</label>
            <input style="margin-left: 6px"; type="motdepasse" name="motdepasse" placeholder="**************">
        </div>

          <div class="input-form-session-m-b">
              <label for="">Confirmer </label>
              <input style="margin-left: 26px";type="Confirmer" name="Confirmer" placeholder="Confirmer">
          </div>

          <div class="input-form-session-m-b">
                 <button type="reset">Annuler</button>
                 <button type="submit">Créer</button>
          </div>
        </form>  

      </div>
        
    </section>
    <footer></footer>   
</body>
</html>