<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/Liste_session.css" type="text/css">
</head>

<body>
    <header>
    </header>
    <div class="logo">
        <img src="../public/img/sa logo.png">
    </div>
    <Center>
        <div id="table">
            <table>
                <tr>
                    <th>Nom</th>
                    <th>Année</th>
                    <th>Date début</th>
                    <th>Date fin</th>
                    <th>Effectif</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

            </table>
        </div>
    </Center>
</body>

</html>