<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <title>Liste session</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="formsession.html">Session</a>
                <ul >
                    <li><a href="formsession.html">Nouveau</a></li>
                    <li><a href="liste_session.html">Liste </a></li>
                </ul>
            </li>
            <li ><a href="formutilisateur.html">Utilisateur</a>
                <ul>
                    <li><a href="formutilisateur.html">Nouveau</a></li>
                    <li><a href="liste_utilisateur.html">Liste </a></li>
                </ul>
            </li>
        </ul>
    </header>
    <div class="logo">
        <img src="../public/img/sa logo.png" alt=""/>
        <h3 style="margin-left: 490px";>Liste session</h3>
    </div>
    <section>
        <table style="width: 1000px";>
            <tr>
                <th>Nom</th>
                <th>Année</th>
                <th>Date début</th>
                <th>Date fin</th>
                <th>Effectif</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

        </table>
    </section>
    <footer></footer>   
</body>
</html>